body {
    background-color: #494949;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
    margin: 0;
    padding-top: 20px;
}

h1 {
    font-family: publicPixel;
    color: white;
    margin-bottom: 20px;
}

h2 {
    color: white;
    font-family: publicPixel;
    margin-bottom: 20px;
}

p {
    font-size: 15px;
    font-family: publicPixel;
}

canvas {
    image-rendering: pixelated;
    background-color: #ffff;
    width: 700px;
    height: 456px;
    border: 2px solid black;
    font-smooth: never;
    -webkit-font-smoothing: none;
    -moz-osx-font-smoothing: grayscale;
}